ALTER TABLE `character_glyphs` ADD COLUMN `glyph7` int(11) UNSIGNED DEFAULT '0' AFTER `glyph6`, ADD COLUMN `glyph8` int(11) UNSIGNED DEFAULT '0' AFTER `glyph7`, ADD COLUMN `glyph9` int(11) UNSIGNED DEFAULT '0' AFTER `glyph8`;